<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProgressView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FEB419EF1D87CB7800848D87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEB41A081D87CB7800848D87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEB41A131D87CB7800848D87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
